p{
    margin: 0;
    padding: 0;
}
.Privacy_Policy_box{
    background-color: #f5f9ff;
}
.Privacy_Policy_text{
    --font-selector: RlM7U2F0b3NoaS1ib2xk;
    --framer-font-family: "Satoshi", "Satoshi Placeholder", sans-serif;
    --framer-font-size: 48px;
    --framer-font-weight: 700;
    --framer-line-height: 70px;
    --framer-text-alignment: center;
    --framer-text-color: rgb(39, 89, 205);
    font-family: var(--framer-blockquote-font-family, var(--framer-font-family, Inter, Inter Placeholder, sans-serif));
    font-style: var(--framer-blockquote-font-style, var(--framer-font-style, normal));
    font-weight: var(--framer-blockquote-font-weight, var(--framer-font-weight, 400));
    color: var(--framer-blockquote-text-color, var(--framer-text-color, #000));
    font-size: calc(var(--framer-blockquote-font-size, var(--framer-font-size, 16px))* var(--framer-font-size-scale, 1));
    letter-spacing: var(--framer-blockquote-letter-spacing, var(--framer-letter-spacing, 0));
    text-transform: var(--framer-blockquote-text-transform, var(--framer-text-transform, none));
    text-decoration: var(--framer-blockquote-text-decoration, var(--framer-text-decoration, none));
    line-height: var(--framer-blockquote-line-height, var(--framer-line-height, 1.2em));
    text-align: var(--framer-blockquote-text-alignment, var(--framer-text-alignment, start));
    -webkit-text-stroke-width: var(--framer-text-stroke-width, initial);
    -webkit-text-stroke-color: var(--framer-text-stroke-color, initial);
    font-feature-settings: var(--framer-font-open-type-features, initial);
    text-wrap: var(--framer-text-wrap-override, var(--framer-text-wrap));
    padding: 3rem 0;
}

.framer-1c7m0dj{
    align-content: center;
    align-items: center;
    background-color: #fff;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0px;
    height: min-content;
    justify-content: center;
    overflow: hidden;
    padding: 80px 40px;
    position: relative;
    width: 100%;
}
.framer-1f094ai {
    align-content: center;
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 24px;
    height: min-content;
    justify-content: center;
    max-width: 1200px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}

.framer-mRoyO .framer-16bq2bd,.framer-mRoyO .framer-2ntd0o,.framer-mRoyO .framer-1v16w4b,.framer-mRoyO .framer-870z5h,.framer-mRoyO .framer-rgvcjs,.framer-mRoyO .framer-3t9ynj,.framer-mRoyO .framer-1qfniga,.framer-mRoyO .framer-kthlgn,.framer-mRoyO .framer-169c04h,.framer-mRoyO .framer-8a2afj,.framer-mRoyO .framer-1i2ah92,.framer-mRoyO .framer-129zx44,.framer-mRoyO .framer-v2ulvc,.framer-mRoyO .framer-u7gyp4,.framer-mRoyO .framer-1hj4aaq,.framer-mRoyO .framer-jlj11v,.framer-mRoyO .framer-1qn5sxq,.framer-mRoyO .framer-1ot4z1u,.framer-mRoyO .framer-1olo68c,.framer-mRoyO .framer-bf8ip9,.framer-mRoyO .framer-4ln3ov,.framer-mRoyO .framer-aiascc,.framer-mRoyO .framer-ldowe,.framer-mRoyO .framer-11v5w3j,.framer-mRoyO .framer-1iuq3r8,.framer-mRoyO .framer-cqpaw9,.framer-mRoyO .framer-5j1ii5,.framer-mRoyO .framer-1yfs2ul,.framer-mRoyO .framer-7pawa6,.framer-mRoyO .framer-14asu37,.framer-mRoyO .framer-i5552i,.framer-mRoyO .framer-1gdyjdy,.framer-mRoyO .framer-1un67oy,.framer-mRoyO .framer-t0t18z,.framer-mRoyO .framer-1uqic6w,.framer-mRoyO .framer-44l5nv,.framer-mRoyO .framer-seq2g6,.framer-mRoyO .framer-10hiyu8,.framer-mRoyO .framer-1a7o8by,.framer-mRoyO .framer-y4rcgv,.framer-mRoyO .framer-loi7wl,.framer-mRoyO .framer-163rlgh,.framer-mRoyO .framer-m7qaxy,.framer-mRoyO .framer-1369x49,.framer-mRoyO .framer-406f8w,.framer-mRoyO .framer-1vtfr5l,.framer-mRoyO .framer-1631kuy,.framer-mRoyO .framer-1dxu9m3,.framer-mRoyO .framer-ur8xeb {
    --framer-paragraph-spacing: 0px;
    flex: none;
    height: auto;
    position: relative;
    width: 100%;
    word-break: break-word;
    word-wrap: break-word
}

.framer-mRoyO .framer-1f094ai {
    align-content: center;
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 24px;
    height: min-content;
    justify-content: center;
    max-width: 1200px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%
}

.framer-mRoyO .framer-1u7ks1o {
    align-content: center;
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    height: 336px;
    justify-content: center;
    min-height: 300px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%
}
p.framer-text, div.framer-text, h1.framer-text, h2.framer-text, h3.framer-text, h4.framer-text, h5.framer-text, h6.framer-text, li.framer-text, ol.framer-text, ul.framer-text, span.framer-text:not([data-text-fill]) {
    font-family: var(--framer-blockquote-font-family, var(--framer-font-family, Inter, Inter Placeholder, sans-serif));
    font-style: var(--framer-blockquote-font-style, var(--framer-font-style, normal));
    font-weight: var(--framer-blockquote-font-weight, var(--framer-font-weight, 400));
    color: var(--framer-blockquote-text-color, var(--framer-text-color, #000));
    font-size: calc(var(--framer-blockquote-font-size, var(--framer-font-size, 16px))* var(--framer-font-size-scale, 1));
    letter-spacing: var(--framer-blockquote-letter-spacing, var(--framer-letter-spacing, 0));
    text-transform: var(--framer-blockquote-text-transform, var(--framer-text-transform, none));
    text-decoration: var(--framer-blockquote-text-decoration, var(--framer-text-decoration, none));
    line-height: var(--framer-blockquote-line-height, var(--framer-line-height, 1.2em));
    text-align: var(--framer-blockquote-text-alignment, var(--framer-text-alignment, start));
    -webkit-text-stroke-width: var(--framer-text-stroke-width, initial);
    -webkit-text-stroke-color: var(--framer-text-stroke-color, initial);
    font-feature-settings: var(--framer-font-open-type-features, initial);
    text-wrap: var(--framer-text-wrap-override, var(--framer-text-wrap));
}