.framer-EQiTq .framer-wg37uw {
    place-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex: 0 0 auto;
    flex-flow: column;
    gap: 0px;
    height: min-content;
    overflow: hidden;
    padding: 80px 40px;
    position: relative;
    width: 100%;
}
.framer-EQiTq .framer-1ismqwt {
    place-content: center;
    display: flex;
    flex: 0 0 auto;
    flex-flow: column;
    gap: 24px;
    height: min-content;
    max-width: 1000px;
    overflow: hidden;
    padding: 0px;
    position: relative;
    width: 100%;
}